@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

                <h3>@CurrentPage.title</h3>
<section id="resume">
        <div class="container">
            <div class="row">

     


                <!-- Testimonial START -->
                <!-- Testimonial START -->
                <div class="col-md-4">
                    <!-- Testimonial START -->
                    <div class="testimonial">
                        <img src="/media/1009/web-dev.jpg" alt="someone">
                       <h4>@CurrentPage.img1text</h4>
                        <h5>@CurrentPage.img1text2</h5>
                        <p>@CurrentPage.img1text3</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="testimonial">
                         <img src="/media/1009/web-dev.jpg" alt="someone">
                       <h4>@CurrentPage.img2text</h4>
                        <h5>@CurrentPage.img2text2</h5>
                        <p>@CurrentPage.img2text3</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="testimonial">
                         <img src="/media/1009/web-dev.jpg" alt="someone">
                        <h4>@CurrentPage.img3text1</h4>
                        <h5>@CurrentPage.img3text2</h5>
                        <p>@CurrentPage.img3text3</p>
                    </div>
                </div>
            </div>
        </div>
    </section>