@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<h1>@CurrentPage.h1text</h1>
<h2>@CurrentPage.h2text</h2>
<h3>@CurrentPage.h3text</h3>
<h4>@CurrentPage.h4text</h4>
<h5>@CurrentPage.h5text</h5>
<h6>@CurrentPage.h6text</h6>